Schemas/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with Liquid Studio (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="person" elementFormDefault="qualified">

    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="role" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="order" type="xs:integer" minOccurs="0" maxOccurs="1"/>
            <xs:element name="thumb" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="bio" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>